<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="jaime">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/acceso">Acceso</a>
      <a mat-list-item routerLink="">Home {{ isHandset$ | async }}</a>
      <a mat-list-item routerLink="/glosario">Glosario</a>
      -- <a mat-list-item routerLink="/glosario/add">Nuevo término</a>
      -- <a mat-list-item routerLink="/glosario/nuevo">Modelo formly</a>
      <a mat-list-item routerLink="/listados">Listados</a>
      <a mat-list-item routerLink="/orders">Orders</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>FugAPP</span>
    </mat-toolbar>
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
