.container {
  margin: 25px;
}
.superior_menu button{
  margin: 0.5em;
}
.menu-spacer {
  flex: 1 1 auto;
}

/* .toolbar{
  display: flex;
  justify-content: space-between;
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}
.mainfuga{
  border: 10px lime solid;
}
 */
